*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: calc(100vh - 120px);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    background: #ccc!important;
    overflow: hidden;
}

.game-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    -webkit-transition-property: left, top, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;
}

.game-card img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

header {
    padding: 20px;
    width: 100%;
    height: 20%;
}

.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(155, 150, 150);
    border: #1b1a1a solid 5px;

}

#question {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 0;
}

main{
    place-items: center;
    margin: 0 auto;
    padding: 10px 30%;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: min(calc((100% - 60px) / 4), 180px) min(calc((100% - 60px) / 4), 180px) min(calc((100% - 60px) / 4), 180px) min(calc((100% - 60px) / 4), 180px);
    grid-template-rows: min(50%, 200px) min(50%, 200px);
    gap: 20px;
}

footer {
    position: fixed;
    min-height: 120px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

footer p {
    padding: 0;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
}

.sponsor {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 118px;
}

.main img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.sponsor img {
    object-fit: contain;
    width: 75%;
    height: 50%;
}

.scroll {
    display: flex;
    height: 40px;
}

@keyframes scroll {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-50%);
    }
}

.logo-wall {
    display: flex;
}

.logo-wall .logo-wrapper.first {
    display: flex;
    animation: scroll 20s linear infinite;
}

.logo-wall .logo-wrapper.second {
    display: flex;
    animation: scroll2 20s linear infinite;
}

.logo-wrapper div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.animate-in{
    animation: scalePopup 1s ease-in;
}

.animate-out{
    animation: scalePopdown .8s ease-out;
}

.animate-out2 {
    animation: slide-out-right 1s ease-out;
}

.animate-flash {
    animation: flash 1s ease-out;
}

.animate-shake {
    animation: shake 1s ease-out;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 0 10%;
    }
}

@media screen and (max-width: 650px) {
    main {
        padding: 0 30px;
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: calc((100% - 30px) / 4) calc((100% - 30px) / 4) calc((100% - 30px) / 4) calc((100% - 30px) / 4);
        grid-template-rows: min(50%, 180px) min(50%, 180px);
        gap: 10px;
    }

    #question {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 410px) {
    main {
        padding: 0 30px;
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: calc((100% - 20px) / 3) calc((100% - 20px) / 3) calc((100% - 20px) / 3);
        grid-template-rows: min(30%, 120px) min(30%, 120px) min(30%, 120px);
        gap: 10px;
    }

    #question {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 0;
    }

    .game-card img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 300px) {
    main {
        padding: 0 30px;
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: calc((100% - 10px) / 2) calc((100% - 10px) / 2);
        grid-template-rows: min(25%, 100px) min(25%, 100px) min(25%, 100px) min(25%, 100px);
        gap: 10px;
    }

    header{
        padding: 10px;
        width: 100%;
        height: 20%;
    }

    .header-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgb(155, 150, 150);
        border: #1b1a1a solid 5px;

    }

    #question {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 0;
    }

    .game-card img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@keyframes scalePopup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scalePopdown {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-15px);
    }

    20% {
        transform: translateX(15px);
    }

    30% {
        transform: translateX(-15px);
    }

    40% {
        transform: translateX(15px);
    }

    150% {
        transform: translateX(-15px);
    }

    60% {
        transform: translateX(15px);
    }

    70% {
        transform: translateX(-15px);
    }

    80% {
        transform: translateX(15px);
    }

    90% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}